.container {
  width: 90%;
  margin: auto;
  font-family: Arial, sans-serif;
  /* margin-top: 5rem; */
}
.about h2 {
  margin-top: 30px;
}
h2 {
  font-size: 24px;
  font-weight: bold;
  position: relative;
  /* margin-top: 6rem; */
}

.underline {
  display: block;
  width: 50px;
  height: 3px;
  background-color: blue;
  margin-top: 5px;
}

.about p {
  color: #555;
  line-height: 1.6;
}

.more-info {
  margin-top: 30px;
}

.info-container {
  display: flex;
  justify-content: space-between;
}

/* .info-box {
  width: 45%;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
} */

/* .education {
  background-color: #fce8e6;
} */
.dd {
  background-color: #fce8e6;
  width: 83%;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 20px;
}
.light-blue {
  background-color: #e6f7ff;
  margin-top: 20px;
  width: 83%;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
}

.light-red {
  background-color: #fce8e6;
  margin-top: 20px;
  width: 83%;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
}

.icon {
  font-size: 24px;
  color: blue;
}
.ff {
  background-color: #e6f7ff;
  width: 83%;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 20px;
}

/*  Responsive Design for 420px */
@media (max-width: 420px) {
  .container {
    width: 95%;
    padding: 10px;
  }

  h2 {
    font-size: 20px;
  }

  .underline {
    width: 40px;
    height: 2px;
  }

  .info-container {
    flex-direction: column;
    align-items: center;
  }

  .dd,
  .light-blue,
  .light-red,
  .ff {
    width: 70%;
    padding: 12px;
    align-items: center;
    justify-content: center;
    margin-left: 35px;
  }
  .mar {
    margin-top: 20px;
  }
}