/* .container { 
    width: 80%; 
    margin: auto; 
    font-family: Arial, sans-serif; 
}

h2 { 
    font-size: 24px;
     font-weight: bold; 
     position: relative;
     }

.underline { 
    display: block; 
    width: 50px; 
    height: 3px; 
    background-color: blue;
     margin-top: 5px;
     }

.about p { 
    color: #555;
     line-height: 1.6; 
    }

.more-info {
     margin-top: 30px; 
    }

.info-container { 
    display: flex; 
    justify-content: space-between; 
}

.info-box {
     width: 45%;
      padding: 15px;
       border-radius: 8px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); 
    }

.education { 
    background-color: #fce8e6;
 }

.experience { 
    background-color: #e6f7ff;
 }

.icon {
     font-size: 24px;
     }

 */
