.skills-container {
  width: 100%;
}
.skills-container h2 {
  font-size: 23px;
  /* font-family: "Inter", sans-serif; */
}

.skill {
  margin-bottom: 15px;
}

.skill p {
  font-size: 16px;
  margin: 0;
}

.skill-bar {
  width: 100%;
  height: 6px;
  background: #e0e0e0;
  border-radius: 5px;
  margin-top: 5px;
}

.skill-bar-fill {
  height: 100%;
  border-radius: 5px;
  transition: width 0.5s ease-in-out;
}

/*  Responsive Design for 420px */
@media (max-width: 420px) {
  .skills-container {
    text-align: center;
  }

  .skills-container h2 {
    font-size: 20px;
  }

  .skill p {
    font-size: 14px;
  }

  .skill-bar {
    height: 5px; 
  }
}
